@page
@model EventPlannerApp.Pages.EventTypes.IndexModel

@{
    ViewData["Title"] = "Index";
}
@*<h1>Event types</h1>*@
<div class="about-section mb-0 mt-0" style="background-color:#705565; opacity:0.8;">
    <h2 style="font-weight:bold; color:#cbbfc6"> - Event types -  </h2>
    <img align="center" src="~/image/logo.png" alt="sigla" class="sigla1" />
</div>
<br />
<p>
    @if (User.IsInRole("Admin"))
    {
        <button type="button" class="btn btn-outline-dark">
            <a class= asp-area ="" asp-page="Create">Add a new event type</a>
    </button>
    }
    @*<a asp-page="Create">Add a new event type</a>*@
</p>


<div class="card" style="border-color:#7d5f71;">
    <div style="display: flex ; flex-wrap: wrap; background-color: #7d5f71;" class="row-cols-sm-3">
        @*asta cu row cols sm 4 imi pune pe un rand 3 chestii*@

        @foreach (var item in Model.EventType)
        {
            <div>

                <div style="width:70%; padding:5px; font-family:Arial; text-decoration:underline; color: #d8cfd4; background-color:#705565;">
                    

                    @Html.DisplayFor(modelItem => item.EventTypeName)

                </div>

                <div>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.ID"><i class="bi bi-pencil-square fa-7x icon-yellow"></i></a>
                    }
                    <a asp-page="./Details" asp-route-id="@item.ID"><i class="bi bi-info-circle-fill fa-10x"></i>View Description</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-page="./Delete" asp-route-id="@item.ID"><i class="bi bi-trash icon-red fa-10x"></i></a>
                    }
                    <hr>
                </div>
            </div>
        }
    </div>
</div>
