<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EventPlannerApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"> @*asta pentru a importa icons pentru navbar*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EventPlannerApp.styles.css" asp-append-version="true" />

    <style>
        .sigla{
            border-radius:50%;
            width: 60px;
            height: 60px;
        }

        .sigla2 {
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }
            .footer-item:hover

        {
            color: white;
        }
        
    </style>
</head>
<body>
    <header>
        <nav class=" navbar navbar-expand-lg navbar-dark @*bg-dark*@ px-0" style="background-color:#a48f9b; font-family: monospace;">
            <div class="container-fluid">
                <a class="navbar-brand me-2" style="color:#644c5a" asp-page="/Index"><img align="center" src="~/image/logo.png" alt="sigla" class="sigla" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">

                        <li class="nav-item m-2" style="color:#644c5a">
                            <a class="nav-link" style="color:#644c5a" asp-area="" asp-page="/About"> About us</a>
                        </li>

                        <li class="nav-item m-2" style="color:#644c5a">
                            <a class="nav-link" style="color:#644c5a" asp-area="" asp-page="/CorporateEvent"> Gallery</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle m-2" style="color:#644c5a" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-balloon-heart-fill"></i>Services
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-page="/EventTypes/Index"><i class="bi bi-1-circle-fill"></i>Events types</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Locations/Index"><i class="bi bi-2-circle-fill"></i>Locations</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Menues/Index"><i class="bi bi-3-circle-fill"></i>Menu</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Photographs/Index"><i class="bi bi-4-circle-fill"></i>Photohraphs</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Musics/Index"><i class="bi bi-5-circle-fill"></i>Music</a>
                            </div>
                        </li>

                       
                            </ul>


                     <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle m-2" style="color:#644c5a" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-people-fill"></i>
                    Profil
                    </a>
                    <div class="dropdown-menu">
                    <partial name="_LoginPartial" />
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index"><i class="bi bi-person-lines-fill"></i>My profile</a>
                    <a class="dropdown-item" asp-area="" asp-page="/MyEvents/Index"><i class="bi bi-calendar2-check"></i>My events</a>
                    </div>
                    </div>

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle m-2" style="color:#644c5a" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="bi bi-people-fill"></i>
                                    Administration
                                </a>
                                <div class="dropdown-menu">
                                    <partial name="_LoginPartial" />
                                    <a class="dropdown-item" asp-area="" asp-page="/Clients/Index"><i class="bi bi-person-lock"></i>Clients</a>
                                    <a class="dropdown-item" asp-area="" asp-page="/AdminPage"><i class="bi bi-person-circle"></i>Admin</a>
                                    <a class="dropdown-item" asp-area="" asp-page="/MyEvents/Index"><i class="bi bi-calendar2-check"></i>Events</a>
                                </div>
                            </div>
                        }
                    }




                    <form class="d-flex">
                       
@*                     <input class="form-control me-sm-2" style="color:#644c5a; font-weight:600; background-color:black; border-color:#7d5f71" type="search"  placeholder="Search">
*@                     <button class="btn btn-secondary my-2 my-sm-0" style="color:black;background-color:#644c5a; border-color:#7d5f71" asp-area="" asp-page="/MyEvents/Index">
                            <i class="bi bi-pencil-fill"></i>My Events
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    @*<footer class="border-top footer text-muted" style="background-color: #a48f9b; ">
        <div class="text-center" style="background-color: #a48f9b; color:#644c5a; font-weight:600">
            Event Planner @DateTime.Now.Year -
            <a class="text-decoration-underline" style="color:#644c5a" asp-area="" asp-page="/Index">  Select Event</a>

        </div>

    </footer>*@
    <footer class="border-top footer text-muted position-fixed" style="background-color: #a48f9b">
        <div style="display: grid; grid-template-columns:  1fr 1fr 1fr 1fr">
            <div style="color:#644c5a;  font-weight:600">
                 &copy; @DateTime.Now.Year 
            </div>
            <div>
                <a asp-area="" asp-page="/Privacy" class="footer-item"><i class="bi bi-shield-check"></i>Privacy Policy</a>

            </div>
            <div>
                <a asp-area="" asp-page="/Contact" class="footer-item"><i class="bi bi-chat-text-fill"></i>Contact Us</a>

            </div>
            <div>
                <a asp-area="" asp-page="/About" class="footer-item"><i class="bi bi-info-circle-fill"></i>About Us</a>

            </div>
            </div>
    </footer>
    
    


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/qrcode.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

        