@page
@model EventPlannerApp.Pages.Menues.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Menu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post"enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Menu.ItemName" class="control-label"></label>
                <input asp-for="Menu.ItemName" class="form-control" />
                <span asp-validation-for="Menu.ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Menu.ItemPrice" class="control-label"></label>
                <input asp-for="Menu.ItemPrice" class="form-control" />
                <span asp-validation-for="Menu.ItemPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Menu.ItemImageFile" class="control-label"></label>
                <input asp-for="Menu.ItemImageFile" class="form-control" />
                <span asp-validation-for="Menu.ItemImageFile" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="Menu.MenuTypeID" class="control-label">Tipuri</label>
                <select asp-for="Menu.MenuTypeID" class="form-control" asp-items="ViewBag.MenuTypeID">
                </select>
                <span asp-validation-for="Menu.MenuTypeID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
