@page
@model EventPlannerApp.Pages.Menues.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<div>
    
    <hr />
    <div>
        <a asp-page="./Index" style="color:#3e2f38; font-weight:bolder; text-decoration:none"><i class="bi bi-arrow-90deg-right" style="color:#32262d"></i>Back to List</a>
    </div>
    <br />
    <div class="container">
        <div class="box">
            <h2><label class="my-label">Description of @Html.DisplayFor(model => model.Menu.ItemName):</label></h2>
            <p> <label class="my-label">Category: </label> @Html.DisplayFor(model => model.Menu.MenuType.TypeName)</p>
            <p> <label class="my-label">Item price: </label> @Html.DisplayFor(model => model.Menu.ItemPrice)</p>
        </div>
    </div>

    <br />
    <div class="image-container">
        <img src="~/image/menu/r1.jpg" />
        <img src="~/image/menu/r2.jpg" />
        <img src="~/image/menu/r3.jpg" />
    </div>
   
    <hr />
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <button type="button" class="btn btn-outline-dark">
            <a class= asp-area ="" asp-page="./Edit" asp-route-id="@Model.Menu?.ID">Edit</a>
    </button>}
</div>
