@page
@model EventPlannerApp.Pages.MyEvents.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MyEvent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MyEvent.ID" />
            <div class="form-group">
                <label asp-for="MyEvent.StartDate" class="control-label"></label>
                <input asp-for="MyEvent.StartDate" class="form-control" />
                <span asp-validation-for="MyEvent.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyEvent.EndDate" class="control-label"></label>
                <input asp-for="MyEvent.EndDate" class="form-control" />
                <span asp-validation-for="MyEvent.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyEvent.Mention" class="control-label"></label>
                <input asp-for="MyEvent.Mention" class="form-control" />
                <span asp-validation-for="MyEvent.Mention" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyEvent.EventTypeID" class="control-label">Tipul evenimentului</label>
                <select asp-for="MyEvent.EventTypeID" class="form-control" asp-items="ViewBag.EventTypeID">
                </select>
                <span asp-validation-for="MyEvent.EventTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyEvent.LocationID" class="control-label">Locatia</label>
                <select asp-for="MyEvent.LocationID" class="form-control" asp-items="ViewBag.LocationID">
                </select>
                <span asp-validation-for="MyEvent.LocationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyEvent.MusicID" class="control-label">Muzica</label>
                <select asp-for="MyEvent.MusicID" class="form-control" asp-items="ViewBag.MusicID">
                </select>
                <span asp-validation-for="MyEvent.MusicID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyEvent.PhotographID" class="control-label">Photo</label>
                <select asp-for="MyEvent.PhotographID" class="form-control" asp-items="ViewBag.PhotographID">
                </select>
                <span asp-validation-for="MyEvent.PhotographID" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="MyEvent.ClientID" class="control-label">Photo</label>
                <select asp-for="MyEvent.ClientID" class="form-control" asp-items="ViewBag.ClientID">
                </select>
                <span asp-validation-for="MyEvent.ClientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="table">
                    <table>
                       <tr>
                          @{
                             int cnt = 0;
                             foreach (var cat in Model.AssignedMenuDataList)
                             {
                             if (cnt++ % 3 == 0)
                             {
                             @:</tr><tr>
                             }
                             @:<td>
                                 <input type="checkbox"
                                        name="selectedMenues"
                                        value="@cat.MenuID"
                                        @(Html.Raw(cat.Assigned ? "checked=\"checked\"" : "")) />
                                 @cat.MenuID @: @cat.Name
                             @:</td>
                       }
                       @:</tr>
                 }
             </table>
          </div>
           </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
