@page
@model EventPlannerApp.Pages.AboutModel
@{
    ViewData["Title"] = "About page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
        }

    </style>
</head>
<body>
    <div class="about-section mb-0 mt-0">
        <h2 style="font-weight:bold; color:#cbbfc6"> - About us -  </h2>
        <img align="center" src="~/image/logo.png" alt="sigla" class="sigla1" />
        <p>Welcome to our corporate event planning app! We understand that planning a successful corporate event can be a daunting task, but our app is here to make it easy and stress-free for you.</p>
        <p>Do you have an important event in your company and you don't know where to start with the organization? Well, we are here to help you! Our team of experienced event planners has developed this app to cater to all your corporate event needs. Whether you're planning a product launch, an annual conference, or a team-building retreat, our app has got you covered.</p>
        <p>You can find us in <i class="bi bi-geo-alt-fill"></i> Cluj-Napoca </p>
    </div>

    <div class="container text-center" style="background-color:#977e8d ">
        <h3 style="font-weight:bold; color:#cbbfc6"> What we do  </h3>
        <div class="row">
            <div class="col-sm-4">
                <img src="~/image/corporateevent/c 2.jpg" class="img-responsive" style="width:100%" />
                <br />
                <img src="~/image/corporateevent/c 8.jpg" class="img-responsive" style="width:100%" />

            </div>
            <div class="col-sm-4">
                <img src="~/image/corporateevent/c 5.jpg" class="img-responsive" style="width:100%" />
                <br />
                <img src="~/image/corporateevent/c 7.jpg" class="img-responsive" style="width:100%" />

            </div>
            <div class="col-sm-4">
                <div class="about-section">
                    <p>We have over 5 years of experience in the field and we organize personalized events for different companies up to the smallest detail so much of an exceptional team, having over time thousands of customers satisfied with our services.</p>
                </div>
                <div class="about-section">
                    <p>Our team works together to ensure that our clients' events are successful and meet their objectives. we bring together our unique skills and expertise to create a memorable and seamless event experience for you and attendees.</p>
                </div>
            </div>
        </div>
    </div>
    <br />
    @*ceva cu echipa*@
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-12">
                <h2 class="font-300" style="font-weight:bold; color:#cbbfc6">Meet our amazing team</h2>
                <p class="text-muted mt-4 title-subtitle mx-auto" style="color:ghostwhite">Our team works together to ensure that their clients' events are successful and meet their objectives.</p>

            </div>
        </div>
        <div class="timeline-page mt-5">
            <div class="timeline-item">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="duration date-label-left">
                            <img src="~/image/aboutpage/member4.jpg" alt="" class="img-fluid rounded-circle">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="works works-description-right">
                            <h4> Antonia Grigore - the main manager -</h4>
                            <p class="timeline-subtitle">
                                As a manager in the event planner industry, my primary responsibility is to oversee the planning and execution of events, ensuring that they meet the needs and expectations of clients. I am responsible for managing a team of planners, coordinators, and support staff, assigning tasks and ensuring that deadlines are met.
                                In addition, I need to stay up-to-date with industry trends and best practices, and continually assess and improve the quality of services provided to clients. Strong leadership, communication, and organizational skills are essential for success in this role.
                            </p>
                            @*<br />
                            <div class="row">
                            <div class="col-sm-3">
                            <img align="center" src="~/image/aboutpage/member2.jpg" class="member" />
                            </div>
                            <div class="col-sm-3">
                            <img align="center" src="~/image/aboutpage/member5.jpg"  class="member" />
                            </div>

                            </div>*@
                        </div>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="works works-description-left">
                                <h4> Linda Ross - the event designer -</h4>
                                <p class="timeline-subtitle">
                                    This position requires creativity, attention to detail, and excellent communication skills to work with clients, vendors, and the event planning team to bring the vision to life. I must stay up-to-date with industry trends and technology to provide cutting-edge designs and experiences for events of all types and sizes.
                                    I am responsible for managing the design process from conception to execution, ensuring the event meets the highest standards of quality and exceeds the client's expectations.
                                    An event designer in the event planning industry is responsible for creating and implementing unique and innovative event concepts that fulfill the client's vision and objectives.
                                </p>
                                @*<br />
                                <div class="row">
                                <div class="col-sm-3">
                                <img align="center" src="~/image/aboutpage/member6.jpg"  class="member" />
                                </div>
                                <div class="col-sm-3">
                                <img align="center" src="~/image/aboutpage/member7.jpg" class="member" />
                                </div>
                                </div>*@
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="duration duration-right ">
                                <img src="~/image/aboutpage/member1.jpg" alt="" class="img-fluid rounded-circle">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="duration date-label-left">
                                <img src="~/image/aboutpage/member3.jpg" alt="" class="img-fluid rounded-circle">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="works works-description-right">
                                <h4>Leonardo Luk - marketing and communication manager -</h4>
                                <p class="timeline-subtitle">
                                    I am  in charge of creating and executing effective marketing campaigns that promote the company's services, including event planning, venue management, and other related services.
                                    I develop and implement marketing strategies that will drive brand awareness, customer engagement, and ultimately, revenue growth for the company.

                                </p>
                                @*<br />

                                <div class="row">
                                <div class="col-sm-3">
                                <img align="center" src="~/image/aboutpage/member8.jpg" class="member" />
                                </div>
                                <div class="col-sm-3">
                                <img align="center" src="~/image/logo.png" alt="sigla" class="sigla1" />
                                </div>
                                <div class="col-sm-3">
                                <img align="center" src="~/image/logo.png" alt="sigla" class="sigla1" />
                                </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* <div id="carouselExampleDark" class="carousel carousel-dark slide text-center" data-bs-ride="carousel">
        <h3 style="font-weight:bold; color:#cbbfc6"> Meet our amazing team  </h3>
        <div class="carousel-inner mb-5">
        <div class="carousel-item active" data-bs-interval="10000">
        <img src="~/image/aboutpage/member1.jpg" class="d-block w-50" />
        <div class="carousel-caption d-none d-md-block">
        <h5 style=" color:#251c21; font-weight:bold;">Antonia Grigore</h5>
        <p style=" color:#251c21; text-decoration:underline;">- the main manager -</p>
        </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
        <img src="~/image/aboutpage/member2.jpg" class="d-block w-50" />
        <div class="carousel-caption d-none d-md-block">
        <h5 style=" color:#251c21; font-weight:bold;">Amanda Iov</h5>
        <p style=" color:#251c21; text-decoration:underline;">- the secondary manager -</p>
        </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
        <img src="~/image/aboutpage/member3.jpg" class="d-block w-50" />
        <div class="carousel-caption d-none d-md-block">
        <h5 style=" color:#251c21; font-weight:bold;">Marius Man</h5>
        <p style=" color:#251c21; text-decoration:underline;">- he main event planner - </p>
        </div>
        </div>

        <div class="carousel-item" data-bs-interval="2000">
        <img src="~/image/aboutpage/member4.jpg" class="d-block w-50" />
        <div class="carousel-caption d-none d-md-block">
        <h5 style=" color:#251c21; font-weight:bold;">Linda Ross</h5>
        <p style=" color:#251c21; text-decoration:underline;">- the event designer -</p>
        </div>
        </div>

        <div class="carousel-item" data-bs-interval="2000">
        <img src="~/image/aboutpage/member5.jpg" class="d-block w-50" />
        <div class="carousel-caption d-none d-md-block">
        <h5 style=" color:#251c21; font-weight:bold;">Laura Samura</h5>
        <p style=" color:#251c21; text-decoration:underline;">- the vendor manager -</p>
        </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
        <img src="~/image/aboutpage/member6.jpg" class="d-block w-50" />
        <div class="carousel-caption d-none d-md-block">
        <h5 style=" color:#251c21; font-weight:bold;">Leonardo Luk</h5>
        <p style=" color:#251c21; text-decoration:underline;">- marketing and communication manager -</p>
        </div>
        </div>

        <div class="carousel-item" data-bs-interval="2000">
        <img src="~/image/aboutpage/member7.jpg" class="d-block w-50" />
        <div class="carousel-caption d-none d-md-block">
        <h5 style=" color:#251c21; font-weight:bold;">Alex Goel</h5>
        <p style=" color:#251c21; text-decoration:underline;">- technical manager -</p>
        </div>
        </div>

        <div class="carousel-item">
        <img src="~/image/aboutpage/member8.jpg" class="d-block w-50" />
        <div class="carousel-caption d-none d-md-block">
        <h5 style=" color:#251c21; font-weight:bold;">Mara Tune</h5>
        <p style=" color:#251c21; text-decoration:underline;">- operations manager -</p>
        </div>
        </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
        </div>*@
        <br />
</body>
</html>
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="bi bi-arrow-up-circle"></i></button>