@page
@model EventPlannerApp.Pages.AboutModel
@{
    ViewData["Title"] = "About page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
        }

    </style>
</head>
<body>
    <div class="about-section mb-0 mt-0">
        <h2 style="font-weight:bold; color:#cbbfc6; font-family: monospace"> - About us -  </h2>
        <img align="center" src="~/image/logo.png" alt="sigla" class="sigla1" />
        <p style="text-align:center; font-size:15px;color:#191316; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Welcome to our corporate event planning app! We understand that planning a successful corporate event can be a daunting task, but our app is here to make it easy and stress-free for you.</p>
        <p style="text-align:center; font-size:15px;color:#191316; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Do you have an important event in your company and you don't know where to start with the organization? Well, we are here to help you! Our team of experienced event planners has developed this app to cater to all your corporate event needs. Whether you're planning a product launch, an annual conference, or a team-building retreat, our app has got you covered.</p>
        <p style="text-align:center; font-size:20px;color:#191316; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">You can find us in <i class="bi bi-geo-alt-fill"></i> Cluj-Napoca </p>
    </div>

    <div class="container text-center" style="background-color:#977e8d ">
        <h3 style="font-weight:bold; color:#cbbfc6"> What we do  </h3>
        <div class="row">
            <div class="col-sm-4">
                <img src="~/image/corporateevent/c 2.jpg" class="img-responsive" style="width:100%" />
                <br />
                <img src="~/image/corporateevent/c 8.jpg" class="img-responsive" style="width:100%" />

            </div>
            <div class="col-sm-4">
                <img src="~/image/corporateevent/c 5.jpg" class="img-responsive" style="width:100%" />
                <br />
                <img src="~/image/corporateevent/c 7.jpg" class="img-responsive" style="width:100%" />

            </div>
            <div class="col-sm-4">
                <div class="about-section">
                    <p>We have over 5 years of experience in the field and we organize personalized events for different companies up to the smallest detail so much of an exceptional team, having over time thousands of customers satisfied with our services.</p>
                </div>
                <div class="about-section">
                    <p>Our team works together to ensure that our clients' events are successful and meet their objectives. we bring together our unique skills and expertise to create a memorable and seamless event experience for you and attendees.</p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />

    <div >
        <h4 class="font-300" style="font-weight:bold; color:#cbbfc6; font-family:monospace; text-align:center; ">Collaborators</h4>
        <br />
        <p style="text-align:center; font-size:20px;color:#191316; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">We are a large team that collaborates with various service providers to be able to successfully complete your events.See below our main collaborators who participate in the realization of your much-desired event.</p>
    </div>
   
    <div class="wrap mb-4">
        <div class="box">
            <div class="box-top">
                <img class="box-image" src="~/image/aboutpage/location.jpg" alt="location">
                <div class="title-flex">
                    <h3 class="box-title">Events halls</h3>
                    <p class="user-follow-info">15 spaces </p>
                </div>
                <p class="description">We have a close collaboration with the rental spaces for events, which provide us with all the necessary materials for the design and decoration of the place, personalizing each request.</p>
            </div>
            <a class= asp-area ="" asp-page="/Locations/Index" style="display: block; justify-content: center; align-items: center; text-align: center;margin-top: auto;padding: 16px;color: #000;background-color: #705565;box-shadow: 0px 0px 0px 1px black inset; transition: background 0.4s ease;">See our locations</a>
        </div>

        <div class="box">
            <div class="box-top">
                
                <img class="box-image" src="~/image/aboutpage/music.jpg" alt="music">
                <div class="title-flex">
                    <h3 class="box-title">Music</h3>
                    <p class="user-follow-info">10 DJs</p>
                </div>
                <p class="description">We call with confidence every time to the best and well-known DJs from Cluj Napoca, but not only that. You will be able to choose your favorite artist with whom you will create your own playlist according to your taste</p>
            </div>
            <a class= asp-area ="" asp-page="/Musics/Index" style="display: block; justify-content: center; align-items: center; text-align: center;margin-top: auto;padding: 16px;color: #000;background-color: #705565;box-shadow: 0px 0px 0px 1px black inset; transition: background 0.4s ease;">See our DJs</a>
        </div>

        <div class="box">
            <div class="box-top">
                <img class="box-image" src="~/image/aboutpage/photo.jpg" alt="photos">
                <div class="title-flex">
                    <h3 class="box-title">Photo</h3>
                    <p class="user-follow-info">16 Photographs</p>
                </div>
                <p class="description">You always want to have someone there to capture the most beautiful moments from your events, and we have the solution. Together with the best photographers in Romania, you will be able to keep alive the memory of the best events in your life and share them with your colleagues, the work team and not only</p>
            </div>
            <a class= asp-area ="" asp-page="/Photographs/Index" style="display: block; justify-content: center; align-items: center; text-align: center;margin-top: auto;padding: 16px;color: #000;background-color: #705565;box-shadow: 0px 0px 0px 1px black inset; transition: background 0.4s ease;">See our Photographs</a>
        </div>
        <div class="box">
            <div class="box-top">
                
                <img class="box-image" src="~/image/aboutpage/menu.jpg" alt="food">
                <div class="title-flex">
                    <h3 class="box-title">Food</h3>
                    <p class="user-follow-info">13 Restaurants</p>
                </div>
                <p class="description">We want to offer you the best culinary experiences, so we offer you various assortments of food from the most famous ones in Cluj Napoca.</p>
            </div>
            <a class= asp-area ="" asp-page="/Menues/Index" style="display: block; justify-content: center; align-items: center; text-align: center;margin-top: auto;padding: 16px;color: #000;background-color: #705565;box-shadow: 0px 0px 0px 1px black inset; transition: background 0.4s ease;">Go to menu</a>
        </div>
    </div>


    



    
       
        <br />
</body>
</html>
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="bi bi-arrow-up-circle"></i></button>