@page
@model EventPlannerApp.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}


<!--doctype html-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <!--link-stylesheet----------->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <!--using-fontAwesome------------>
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--contact-form-container------------------->
    <section id="contact">
        <!--socail----------->
        <div class="social">
            <!--icons--------->
            <a href="https://www.google.com/maps/d/viewer?mid=1IebEObFn7OscaZR7duxSuNZCmyk&hl=en&ll=46.772216878081785%2C23.582302999999982&z=14"><i class="bi bi-geo-alt"></i></a>
            <a href="tel:0756429081"><i class="bi bi-phone"></i></a>            
            <a href="mailto:sirbmaria27@gmail.com"><i class="bi bi-envelope-at"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
        </div>
        <!--contact-box------------->
        <div class="contact-box">
            <!--heading---------->
            <div class="c-heading">
                <h1>Get In Touch</h1>
            </div>
            <!--inputs------------------>
            <div class="c-inputs">
                <form onsubmit="sendEmail(); reset(); return false">
                    <input type="text" id="name" placeholder="Full Name" required />
                    <input type="email" id="email" placeholder="Example@gmail.com" required />
                    <input type="text" id="phone" placeholder="phone number" required />
                    <textarea id="message" placeholder="Write Message"></textarea>
                    <!--sumbit-btn----------->
                    <button type="submit">SEND</button>
                </form>
            </div>

        </div>
        <!--map------------------->
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2732.655843717301!2d23.62338601545408!3d46.77167977913816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47490c6a98369865%3A0xe37d8af900151092!2sIulius%20Mall!5e0!3m2!1sro!2sro!4v1679579410473!5m2!1sro!2sro" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </section>

    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script>
        var x=document.getElementById('x');
        x.addEventListener('click', function(e) {
            e.preventDefault()
            var name =  document.getElementById('name').value;
            var phone =  document.getElementById('phone').value;
            var message =  document.getElementById('message').value;
            var body = 'name: ' + name + '<br/> email: ' + email + '<br/> phone: ' + phone + '<br/> message: ' + message ;
       
        Email.send({
            SecureToken: "4ee5a275-2e31-49f0-86d9-60196f3deb69",
            To: 'sirbmaria27@gmail.com',
            From: "mariasirb27@gmail.com",
            Subject: "New contact",
            Body: body
        }).then(
            message => alert("Message send succesfully!")
        );
        })
//        function sendEmail(){
//            Email.send({
//            Host : "smtp.gmail.com",
//            Username : "sirbmaria27@gmail.com",
//            Password : "parola12345",
//            To : 'sirbmaria27@gmail.com',
//            From : document.getElementById("email").value,
//            Subject : "New contact",
//            Body : "Name: " + document.getElementById("name").value
//                + "<br> Email: " + document.getElementById("email").value
//                + "<br> Phone number: " + document.getElementById("phone").value
//                + "<br> Message: " + document.getElementById("message").value
//           }).then(
//           message => alert("Message send succesfully")
//);
//        }
    </script>
</body>
</html>

