@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>


</style>
<div class="container-xxl py-5 mb-5">
    <div class="container my-0 py-0">
        <div class="row align-items-center g-5">
            <div class="col-md-6 text-center text-lg-start">
                <h1 class="about-section" style="text-decoration:underline">
                    Welcome to our event planner website
                </h1>
                <div class="about-section" style="color:#e5dfe2; font-size:20px">
                    <p>We are your go-to source for creating unforgettable events that are sure to impress your guests and achieve your business goals.</p>
                <br />
                    <button type="button" class="btn btn-secondary my-2 my-sm-0" style="color:black;background-color:#644c5a; border-color:#7d5f71">
                        <a class= asp-area ="" asp-page="/MyEvents/Index" style="color:inherit; text-decoration:none;">Create now</a>
                    </button>

                </div>

            </div>

            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="rotate linear infinite" src="~/image/logo.png" />

            </div>

        </div>

    </div>

</div>

