@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}


<style>
    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .col1 {
        flex: 1;
        padding: 10px;
    }

    .col2 {
        flex: 1;
        padding: 10px;
    }

</style>

<div class="about-section mb-0 mt-0">
    <h2 style="font-weight:bold; color:#cbbfc6"> - Privacy Policy -  </h2>
    <img align="center" src="~/image/logo.png" alt="sigla" class="sigla1" />
</div>
<h6><strong style="color: #3e2f38">Welcome to our event planning website! We are dedicated to providing our customers with the best possible event planning services. To ensure that we maintain a high level of quality, we have developed the following policies.</strong></h6>
<br />
<div class="container">
    <div class="col1">
        <p style="color:#f2eff0; font-size:20px; text-decoration: underline; font-weight:bold">Payment Policy:</p>
        <br />
        <p>We require a 50% deposit to secure your event date. The remaining balance is due two weeks prior to the event. We accept cash, credit card, and bank transfers.</p>
        <br />

        <u style="color:#f2eff0; font-size:20px; text-decoration: underline; font-weight:bold">Cancellation Policy:</u>
        <br />
        <p>We understand that sometimes unforeseen circumstances may force you to cancel your event. In such cases, please inform us as soon as possible. If you cancel more than four weeks prior to the event, we will refund your deposit. If you cancel less than four weeks prior to the event, we will not refund your deposit</p>.
        <br />

        <u style="color:#f2eff0; font-size:20px; text-decoration: underline; font-weight:bold">Change of Date Policy: </u>
        <br />
        <p>If you need to change the date of your event, please inform us as soon as possible. We will do our best to accommodate your new date. However, if we are not available on your new date, we will refund your deposit.</p>
        <br />
    </div>
    <div class="col2">

        <u style="color:#f2eff0; font-size:20px; text-decoration: underline; font-weight:bold">Insurance Policy:</u>
        <br />

        <p>We strongly recommend that you obtain event insurance to protect yourself against unforeseen circumstances, such as cancellation due to illness or natural disasters. We do not offer event insurance, but we are happy to recommend reputable insurance providers.</p>
        <br />

        <u style="color:#f2eff0; font-size:20px; text-decoration: underline; font-weight:bold">Privacy Policy:</u>
        <br />
        <p>We take your privacy very seriously. We will not share your personal information with any third parties without your consent. We use your information only to provide you with the best possible event planning services.</p>
        <br />
        <br />
        <br />
        <p style="align-items:center; font-size:50px; color:#3e2f38;  font-style: italic; font-weight:bolder">Thank you!</p>
    </div>
</div>








